*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Define the CSS for the zoom effect */
.zoom {
    transition: transform 0.7s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);
    cursor: pointer;
                
}

.end-message{
    color: aliceblue;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
}

.background{
    background-image: url('img/02.jpg'); /* รูปภาพพื้นหลัง */
    height: 90vh;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
    background-attachment: fixed;
                
}

.col-4{
    border-radius: 20px;
}


  .rcorner {
    border-radius: 20px;
  }
